@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: black;
    padding: 1px;
}

div.container{
    background-color: rgb(66, 65, 65);
    border-radius: 15px;
  
   margin: 3.5rem  10rem;
   padding: 4rem 2.5rem;
  text-align: center;
 
}

 /* header */
 div.container h1{
    font-family: 'Lobster Two', cursive;
    font-weight: 900;
    color: white;
    opacity: 0.9;
    font-size: 75px;

   

}

div.container h1 span{
    color: rgb(207, 14, 14);
  font-style: italic;
}
/* img */

div.container img{
    width: 400px;
    height:250px;
    border-radius: 25px;
    margin: 45px auto 0px auto;
    box-shadow: 6px 2px 150px 46px  rgba(192, 12, 12, 0.6) ;
}

div.container .subtitle{
    color: white;
    font-weight: 5px;
    margin-bottom: 20px;
    

}

div.container p{
    color: white;
    font-size: 25px;
    text-align: justify;
   margin: 3rem 5rem;
    line-height: 2rem;
}

div.container .subtitle{
    color: white;
    font-size: 15px;
    margin-bottom: 20px;
    margin-bottom: 20px;
    text-align: center;
    

}

div.container h3{
    color: rgb(207, 14, 14);
    text-align: left;
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 900;
    margin: 2rem 4rem;
    font-style: italic;
    font-family: 'Lobster Two', cursive;
}

div.container ul{
    list-style-position: inside;
    color: white;
    line-height: 3rem;
    text-align: left;
    font-size: 1.5rem;
    margin:2rem 4rem;
}

div.container .son{
    margin-left: 17rem;
    font-size: 2rem;
   
       
}

div.container .son a{
    margin-left: 1rem;
    padding: 15px;
    border: 2px solid darkgoldenrod;
    border-radius: 20px;
    background-color: black;
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    

}


div.container .son a:hover{
    background-color: rgb(80, 78, 78);
    color: red;
    font-size: 900;
}